/* Кнопка */

.task-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

.taks-button__title {
  margin-bottom: 45px;
}

.task-button__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-button__btn {
  margin-bottom: 15px;
}

.button {
  display: flex;
  padding: 10px 8px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #cdcdcd;
  text-decoration: none;
  color: #000000;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  user-select: none;
  font-family: "Arial", "Helvetica", sans-serif;

  &--small {
    width: 100px;
    height: 40px;
  }

  &--medium {
    width: 150px;
    height: 40px;
  }

  &--large {
    width: 200px;
    height: 40px;
  }

  &--big {
    width: fit-content;
  }

  &:hover {
    background-color: #4696d8;
  }

  &:focus {
    background-color: #4696d8;
  }

  &:active {
    background-color: #4696d8;
    opacity: 0.5;
  }
}
