html {
  height: 100%;
}

body {
  margin: 0 auto;
  min-height: 100%;
  width: 1024px;
  display: flex;
  flex-direction: column;
  color: #000000;
}

img {
  max-width: 100%;
  object-fit: contain;
}

/* Скрыть заголовки с классом visually-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  width: 1024px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
